.planning-page {
  display: flex;
  flex-direction: column;
  flex: 15% 70% 15%;
  height: 100%;
  width: 100%;

  // &__header {

  // }

  // &__content {

  // }

  // &__footer {

  // }
}
